@tailwind base;
@tailwind components;
@tailwind utilities;

.w-full {
  width: auto !important;
}

.max-w-\[1024px\] {
  max-width: 1400px;
}

.gap-4 {
  gap: 3rem !important;
}

/* .customAvatar {
  width: 24px; 
  height: 24px; 
} */